<div class="landing-main">
  <div class="welcome-text">
    <h1>Welcome to File Easy</h1>
    <p>Backing up and sharing files have never been this easy</p>
  </div>

  <div class="landing-image">
    <img class="landing-image image-fluid" src="https://i1.wp.com/blog.gonitro.com/wp-content/uploads/2015/09/College-Document-Sharing.gif"/>
  </div>

  <div class="join-options">
    <p>
      <%= link_to "Sign Up", signup_path %> or 
      <%= link_to "Log In", login_path %> to continue
    </p>
  <div>
</div>
