@font-face {
  font-family: 'Androgyne';
  src: font_url('/assets/Androgyne_TB.otf');
}

@font-face {
  font-family: 'Bambino';
  src: font_url('/assets/Bambino.ttf');
}

@font-face {
  font-family: 'Dusha';
  src: font_url('/assets/Dusha.ttf');
}

@font-face {
  font-family: 'Sunday Cream';
  src: font_url('/assets/SundayCream.ttf');
}

@font-face {
  font-family: 'Rosemary';
  src: font_url('/assets/Rosemary.ttf');
}
