<div class="all-uploads-page page-container">
  <h1>My Uploads <span class="float-right" data-toggle="tooltip"
  data-placement="bottom" title="Upload new files"><%= link_to '<i class="fas fa-folder-plus"></i>'.html_safe, new_upload_path %></span></h1>
  <hr/>
  
  <% if @uploads.present? %>
    <div class="uploads-container d-flex flex-wrap p-2 justify-content-center">
      <% @uploads.each do |upload| %>
        <%if upload.files.present?%>
          <%= render 'card', upload: upload %>
        <% end %>
      <% end %>
    </div>

    <% if @uploads.size > 10 %>
      <%= render 'pagination', current_page: 1, total_pages: 2 %>
    <% end %>
  <% else %>
    <h5>You do not have any uploaded files. You can start by uploading your favourite photo</h5>
  <% end %>
</div>
